body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}

.grid {
    height: 402px;
    width: 402px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(158, 134, 106);
    border: solid 1px rgb(182, 69, 69);;
}
.score{
    width: 402px;
    height:42px;
    border: solid  1px rgb(182, 69, 69);
    background-color: rgb(114, 107, 107);
    display:flex;
    flex-direction: row;
}

.bombs-remain{
    font-family: "sans-serif";
    color: rgb(61, 16, 184);
    width: 180px;
    border: solid 1px rgb(182, 69, 69);;
    padding:0 4px 0 4px ;
}

.title{
    font-family: "sans-serif";
    color: rgb(61, 16, 184);
    width: 130px;
    font-size: 10px;
    border: solid 1px rgb(182, 69, 69);;
    padding: 0 4px 0 4px;
    display:flex;
    justify-content: center;
}

.scoring{
    font-family: "sans-serif";
    color: rgb(61, 16, 184);
    width: 90px;
    border: solid 1px rgb(182, 69, 69);;
    padding: 0 4px 0 4px;
}

.grid div{
    height:38px;
    width: 38px;
    display:flex;
    justify-content: center;
    align-items: center;
    font: 1.5em sans-serif;
    font-weight: bolder;
    color:rgb(11, 11, 145);
    border: solid 1px white;
    /* background-color: rgb(199, 194, 194); */
}

.bomb {
    /* background-color: orange; */
    background-color: rgb(199, 194, 194);
}

.empty{
    background-color: rgb(199, 194, 194);
}

.checked {
    background-color: rgb(58, 115, 134);
}

.flagged{
    background-color: brown;
}
