body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(158, 134, 106);

}

.grid div{
    height:40px;
    width: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font: 1.5em sans-serif;
    font-weight: bolder;
    color:rgb(11, 11, 145);
    /* background-color: rgb(199, 194, 194); */
}

.bomb {
    background-color: orange;
}

.empty{
    background-color: rgb(199, 194, 194);
}

.checked {
    background-color: rgb(58, 115, 134);
}

.flaged{
    background-color: brown;
}